@font-face {
    font-family: 'butlerbold';
    src: url('/fonts/butler_bold-webfont.woff2') format('woff2'),
         url('/fonts/butler_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: Monaco, monospace;
  color: #272727;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'butlerbold', serif;
  text-transform: uppercase;
}

h2 {
  font-size: 3.4em;
  margin: 0;
}

.header .nav {
  position: fixed;
  width: 20%;
  background-color: #272727;
  padding: 15px 40px 15px 3px;
  border-bottom: 8px solid #F6CCBA;
  top: 0;
  right: 0;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.nav a {
  color: #F6CCBA;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  width: 95%;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px auto;
  margin-top: 30px;
  background-image: url("/images/floralhero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 6em;
  line-height: 1em;
  text-align: right;
  padding-right: 60px;
  margin: 0;
}

.about {
  width: 95%;
  margin: 0px auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about img {
  width: 30%;
  height: 30%;
}

.about .about-copy {
  width: 60%;
  padding: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  width: 95%;
  margin: 0px auto;
  margin-bottom: 30px;
}

.footer h3 {
  width: 25%;
  color: #FFF;
  font-size: 1.3em;
  margin: 0;
  padding: 0 10px;
  line-height: 1em;
}

.footer .nav {
  width: 20%;
  padding: 15px 40px 15px 3px;
}

.social ul {
  display: flex;
  justify-content: space-between;
  width: 33%;
  list-style-type: none;
}

.social ul li a img {
  padding: 0 10px;
}

.social ul li a img:last-of-type {
  padding-right: 30px;
}
