/* General */

@font-face {
    font-family: 'butlerbold';
    src: url('/fonts/butler_bold-webfont.woff2') format('woff2'),
         url('/fonts/butler_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: Monaco, monospace;
  color: #272727;
  font-size: 16px;
}

h1, h2, h3, button {
  font-family: 'butlerbold', serif;
  text-transform: uppercase;
}

h2 {
  font-size: 3.4em;
  margin: 0;
}

/* Header */

.header .nav {
  position: fixed;
  width: 20%;
  background-color: #272727;
  padding: 15px 40px 15px 3px;
  border-bottom: 8px solid #F6CCBA;
  top: 0;
  right: 0;
}

.animateScroll .header .nav {
  width: 100%;
}

/* Add transition here for header to expand to width of page with logo in top left on scroll */

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.nav a {
  color: #F6CCBA;
  text-decoration: none;
  text-transform: uppercase;
}

/* Hero */

.hero {
  width: 95%;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px auto;
  margin-top: 30px;
  background-image: url("/images/floralhero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 6em;
  line-height: 1em;
  text-align: right;
  padding-right: 60px;
  margin: 0;
}

/* About */

.about {
  width: 95%;
  margin: 0px auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about-image {
  width: 30%;
  height: 30%;
}

.about .about-copy {
  width: 60%;
  padding: 30px;
}

.about .social ul {
  padding: 0;
  margin-top: 30px;
}

.about .social ul li img {
  padding: 0 10px 0 0;
}

/* Contact */

.contact {
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.contact .left {
  flex-grow: 2;
}

.contact .right {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  flex-grow: 1;
  padding-left: 30px;
}

.contact .right .img-box {
  width: 100%;
  margin-bottom: 30px;
  background-image: url("/images/contact.jpg");
  background-size: cover;
  height: 60vh;
}

.contact .right button {
  background-color: #F6CCBA;
  border: none;
  padding: 10px;
  font-size: 2em;
}

.contact .right button:focus, .contact-box input[type="text"], .contact-box textarea {
  outline: 0;
}

.contact-box {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.contact-box input[type="text"], .contact-box textarea {
  margin-bottom: 15px;
  font-size: 1.1em;
  padding: 7px;
  font-family: Monaco, monospace;
  color: #272727;
}

.contact-box textarea {
  height: 35vh;
}

.contact-box .one-half {
  width: 47%;
}

.contact .half-row {
  display: flex;
  justify-content: space-between;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  width: 95%;
  margin: 0px auto;
  margin-bottom: 30px;
  border-top: 8px solid #F6CCBA;
}

.footer h3 {
  width: 20%;
  color: #FFF;
  font-size: 1.3em;
  margin: 0;
  padding: 0 10px;
  line-height: 1em;
}

.footer .nav {
  width: 20%;
  padding: 15px 40px 15px 3px;
}

.social ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
  list-style-type: none;
}

.social ul li a img {
  padding: 0 5px;
  height: 30px;
}

.social ul li:nth-child(4) {
  padding-right: 10px;
}
